# Ignore everything by default, except the lib directory
*
!lib/
lib/*
!lib/**

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

# Specific files to ignore (security-related)
lib/authentication/login_screen.dart
lib/controller/authentication_controller.dart
lib/firebase_options.dart

# Miscellaneous files to ignore
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDE-related files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related files
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Ignore all build artifacts
**/build/
android/app/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
**/intermediates/
**/flutter_assets/
**/release/
**/debug/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
