<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141897483128-6uogs4klo93l7fa70t931noq3a1qagn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141897483128-6uogs4klo93l7fa70t931noq3a1qagn2</string>
	<key>API_KEY</key>
	<string>AIzaSyBolUNw12l4alSrtQ8w5-be_MSRS2EONes</string>
	<key>GCM_SENDER_ID</key>
	<string>141897483128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNewApp</string>
	<key>PROJECT_ID</key>
	<string>dating-app-7738e</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-app-7738e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141897483128:ios:511e7824cf9e68b4003e8d</string>
</dict>
</plist>