*
!lib/
lib/*
!lib/**

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

# Specific files to ignore
lib/authentication/login_screen.dart
lib/controller/authentication_controller.dart
lib/firebase_options.dart
